<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a class="navbar-brand" href="#">
        <i class="fas fa-home" style="font-size: 1em;"></i>
      </a>
      <a mat-button href="#statistic" class="nav-item">Statistics</a>
      <a mat-button href="#footer" class="nav-item">Contact</a></div>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <section id="header">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="h1-title">[ COVID 19 ]</h1>
          <br>
          <h3 class="text-center"> Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered
            coronavirus.<br>
            Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without
            special treatment.</h3>
        </div>
      </div>
    </div>
  </section>

  <section id="statistic">
    <div class="container text-center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1>Statistics</h1>
        Select A Country To View It's COVID Stats
      </div>
      <br>
      <div class="row">
        <div class="col text-center mb-3">
          <form>
            <div class="form-group">
              <mat-form-field appearance="fill" floatLabel="always" class="w-150-p">
                <mat-label>Country</mat-label>
                <mat-select>
                  <mat-option *ngFor="let country of countries" [value]="country"
                              (onSelectionChange)="countryChanged(country)">{{country}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div fxLayout="row" id="statistic" fxLayoutAlign="center center">
        <!--          number of deaths-->
        <div fxLayout="column" class="statistics-column">
          <mat-card class="mat-elevation-z5 statistics-card">
            <mat-card-header>
              <mat-card-title class="header-card">DEATHS</mat-card-title>
              <mat-card-subtitle>{{data.lastupdate | date:'longDate'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="card-text number" [countUp]="data.deaths">{{data.deaths | number}}</p>
              <p>Number of deaths cases of COVID-19</p>
            </mat-card-content>
          </mat-card>
        </div>
        <!--          number of recovered cases-->
        <div fxLayout="column" class="statistics-column">
          <mat-card class="mat-elevation-z5 statistics-card">
            <mat-card-header>
              <mat-card-title class="header-card">RECOVERED</mat-card-title>
              <mat-card-subtitle>{{data.lastupdate | date:'longDate'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="card-text number" [countUp]="data.recovered">{{data.recovered | number}}</p>
              <p>Number of recovered cases of COVID-19</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxLayout="column" class="statistics-column">
          <mat-card class="mat-elevation-z5 statistics-card">
            <mat-card-header>
              <mat-card-title class="header-card">INFECTED</mat-card-title>
              <mat-card-subtitle>{{data.lastupdate | date:'longDate'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="card-text number" [countUp]="data.confirmed">{{data.confirmed | number}}</p>
              <p>Number of infected cases of COVID-19</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>


    </div>
  </section>
  <section id="graph">
    <div class="container">
      <div class="row">
        <div class="col chart-wrapper">
           <mat-card class="mat-elevation-z5">
              <mat-card-content>
          <canvas *ngIf="global" baseChart
                  [chartType]="'line'"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
          >
          </canvas>
          <canvas *ngIf="!global" baseChart
                  [chartType]="'bar'"
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
          >
          </canvas>
              </mat-card-content>
             </mat-card>
        </div>
      </div>
    </div>
  </section>
  <div class="footer-basic">
    <footer id="footer">
      <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
        class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
        class="icon ion-social-facebook"></i></a></div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Company Name © 2021</p>
    </footer>
  </div>
</main>
